@import url('https://fonts.googleapis.com/css?family=Montserrat');
//#DCFF18

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  font-family: 'Montserrat';
  margin: 0;
  background-color: #000;
  //overflow: hidden;
}

a {
  text-decoration: none;
}


//Landing page & nav

header {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background-color: black;
  align-items: flex-end;

  .logo {
    color: white;
    font-weight: bold;
  }

  .menu-btn {
    margin-bottom: 2em;
  }

  .header-item {
    padding-bottom: 1.5em;
    cursor: pointer;
    width: 25px;
  }
}

section {

  h1 {
    font-size: 7em;
    padding: 2em 3em 0 3em;
    width: 60%;
    color: rgb(207, 207, 207);
    

    &::before {
      content: ' ';
      border-top: 1px solid rgb(220, 255, 24);
      display: block;
      width: 6em;
    }
  }
}

  //__nav
nav {
  position: absolute;
  z-index: 10;
  background: black;
  padding: 2em;
  width: 100vw;
  height: 100vh;
  display: none;
  transform: scaleX(0);
  transform-origin: right;

  
  .close-btn {
    width: 25px;
    float: right;
    padding-top: 1.3em;
    cursor: pointer;
    opacity: 0;
  }

  ul {
    list-style-type: none;
    margin: 15em auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
    width: 80%;

    .overlay-link {
      color: rgb(220, 255, 24);
      border-bottom: 1px solid transparent;
      transition: border-bottom 800ms;
      font-weight: bold;
      font-size: 1.5em;
      padding: 0.3em;
    
    }
    .overlay-link:hover {
      
      border-bottom: 1px solid  rgb(220, 255, 24);  
    }
    

    span {
      color: rgb(128, 128, 128);
      display: block;
      font-size: 0.75em;
      margin-top: 20px;
    }

    li {
      opacity: 0;
    }

  }
}



// 'my work' page


.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;
  margin: auto;
  width: 70vw;

  .text-container {
    // max-width: 35em;
    width: 100%;
    grid-column:  1 / 2;

    h4 {
      font-size: 2em;
      margin-left: -1em;
    }

    p {
      margin-top: 3em;
      color:  rgb(128, 128, 128);
      padding-left: 1em;

    }

    .tech-used {
      padding-top: 0.5em;
      padding-left: 1em;
    }
  }


  .card-container {
    display: grid;
    grid-template-columns: 10em 10em;
    grid-gap: 10px;
    grid-column:  2 / 3;

    .card {
      height: 10em;
      width: 10em;
      //justify-self: end;

      img {
        position: relative;
        width: 100%;
        max-width: 100%;
        filter: grayscale(100%);
        transition: all 800ms;
  
      }

      img:hover {
        z-index: 5;
        filter: grayscale(80%) drop-shadow(0 0 4px rgb(220, 255, 24));
        transform: scale(1.3, 1.3);
      }
    }
  }
}













///Global styles

.p-global {
  padding-top: 10em;
  padding-left: 16em;
  width: 70vw;
  color: rgb(207, 207, 207);
}

h2{
  position: absolute;
  top: 90vh;
  font-size: 4em;
  line-height: 1em;
  // margin-top: 2em;
  padding-left: 4em;
  width: 70vw;
  border-top: 1px solid  rgb(220, 255, 24);
}

h4 {
  color: rgb(220, 255, 24);
  margin-left: 6em;
  font-size: 2em;
}

.fab {
  padding-right: 0.2em;
  font-size: 1.5em;
}


.darken {
  color: rgba(160, 160, 160, 0.336);
}

.hide {
  display: none;
}
 







//Animations 

.show-menu {
  display: block;
  animation: slide-menu 0.5s ease-out forwards;

  .close-btn {
    animation: show-x 1s 0.5s forwards;
  }

  li:nth-of-type(1) {
    animation: menu-item 0.8s forwards 0.3s ease-in-out;
  }

  li:nth-of-type(2) {
    animation: menu-item 0.8s forwards 0.6s ease-in-out;
  }

  li:nth-of-type(3) {
    animation: menu-item 0.8s forwards 0.8s ease-in-out;
  }

  li:nth-of-type(4) {
    animation: menu-item 0.8s forwards 0.9s ease-in-out;
  }
}

@keyframes slide-menu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@keyframes menu-item {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
