.cocktail-name {
  font-size: 10vw;
}

#cocktail-heading h1 {
  padding: 4rem;
}

.brand-logo {
  margin-left: 2rem;
}

nav ul {
  margin-right: 2rem;
}

.about a {
  text-decoration: underline;
  color: inherit;
}
.about a:hover {
  color: rgb(90, 18, 133);
}

.breathe {
  display: block;
  height: 5rem;
}

.breathe-1 {
  display: block;
  height: 10rem;
}
